@import "../../styles/variables";
@import "../../styles/mixins";

.card {
  display: flex;
  flex-direction: column;
  color: $black;
}
.image {
  border-radius: spacing(2);
}
.title {
  margin-top:spacing(4);
  text-align: left;
  font-family: $rubik;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 42px;
  text-transform: none;
  color: #061020;
}
.info {
  margin-top: spacing(8);
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 28px;
  text-transform: none;
  color: #6d727c;
}
.blogPill {
  align-self: flex-start;
  margin-bottom: spacing(6);
  padding: spacing(1, 3);
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  background: #2b3146;
  color: #fff;
  font-size: 11px;
  border-radius: 20px;
}

.author {
  display:flex;
  align-items: center;
  color: #602024;
}
.avatarSvg{
  display:flex;
  align-items: center;
  justify-content: center;
  width:40px;
  height:40px;
  margin-right:spacing(2);
  border-radius:50%;
  background: linear-gradient(
    160deg,
    rgba(4, 18, 5, 1) 3%,
    rgba(193, 45, 69, 1) 37%,
    rgba(227, 59, 72, 1) 56%,
    rgba(240, 146, 40, 1) 74%,
    rgba(245, 182, 27, 1) 100%
  );
  svg {
    width:20px;
    fill:$amber;
  }
}
.avatar{
  margin-right:spacing(2);
  border-radius:50%;
}
.description {
  margin-top: spacing(4);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: spacing(2);
}
