
.card{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    text-decoration: none;
    transition: box-shadow 0.25s ease-in-out;

    a{
        text-decoration: none;
    }
}