@import "../styles/variables";
@import "../styles/mixins";

.header {
  position: relative;
  display: flex;
  height: 80px;
  overflow: hidden;
  background: linear-gradient(
    160deg,
    rgba(4, 18, 5, 1) 3%,
    rgba(193, 45, 69, 1) 37%,
    rgba(227, 59, 72, 1) 56%,
    rgba(240, 146, 40, 1) 74%,
    rgba(245, 182, 27, 1) 100%
  );

  @include bp(medium){
    height:250px;
    padding-left: spacing(11);
  }
}
.headerInner{
  display: flex;
  flex-basis:30px;
  order:-1;
  align-items: center;
  padding-left: 4%;
  @include constrain();
  z-index:10;
  @include bp(medium){
    display:flex;
    flex-basis:100%;
    order:0;
  }
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-basis: 100%;
  padding-top: spacing(5);
  padding-left: spacing(6);
  cursor: pointer;
  position: relative;
  z-index:1;

  svg {
    display:none;
    width: 60%;
    height: auto;
    fill: $amber;

    @include bp(medium){
      display:block;
      z-index: 1;
    }
  }
}
.logoLink{
  text-decoration: none;
}
.sublogo {
  font-family: sans-serif;
  font-size: 20px;
  color: #f2ce3f;
  font-family: $rockSalt;

  @include bp(medium){
    position: absolute;
    width: 175px;
    margin-top: 8px;
    transform: rotateZ(-6deg);
    bottom: 103px;
    left: 20px;
  }
}
// .topNav {
//   display: flex;
//   height: 60%;
//   align-items: center;
//   z-index: 1;
//   margin-left: auto;
//   flex-basis:0%;
// }
.scene {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
}
.palmtreeSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  &:nth-child(1) {
    top: 186px;
    left: 4%;
    width: 159px;
    transform: rotate(351deg);
    @include bp(medium){
      top: 50px;
      left: 42%;
      width:500px;
      transform: rotate(12deg);
    }
  }
  &:nth-child(2) {
    width: 183px;
    top: 177px;
    left: 16%;
    transform: rotate(356deg);
    @include bp(medium){
      display:block;
      width:500px;
      top: 100px;
      left: 55%;
      transform: rotate(12deg);
    }
  }
  &:nth-child(3) {
    width: 159px;
    top: 200px;
    left: 69%;
    transform: rotate(12deg);

    @include bp(medium){
      width:500px;
      top: 27px;
      left: 71%;
      transform: rotate(354deg);
    }
  }
  &:nth-child(4) {
    width: 159px;
    top: 175px;
    left: 92%;
    transform: rotate(348deg);
    @include bp(medium){
      width:500px;
      top: -37px;
      left: 92%;
      transform: rotate(337deg);

    }
  }
}
.wave{
  display:none;
  position: absolute;
  fill: #041205;
  bottom: -17px;
  left: 0;
  transform: rotateZ(1deg);
  @include bp(medium){
    display:block;
  }
}

