@import "../styles/mixins";
@import "../styles/variables";
.nav {
  margin-left: spacing(22);
}
.navList {
  display: flex;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navItem {
  display: flex;
  align-self:flex-start;
  & + & {
    margin-left: spacing(7);
  }
}
.active {
  a:after{
    width:100%;
    transition: width .25s ease-in-out;
  }
}
.navLink {
  position:relative;
  text-decoration: none;
  color: $amber;
  font-family: sans-serif;
  font-size: 30px;
  text-transform:uppercase;

  &:hover{
    &:after{
      width:100%;
      transition: width .25s ease-in-out;
    }

  }

  &:after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background-color: $amber;
    transition: width .25s ease-in-out;
  }
}
