@import '../styles/mixins';
.homepageInner{
  flex-direction:column;
  position:relative;
}
.homepageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
// .iframe{
//   @include bp(medium){
//     position:absolute;
//     top:-80px;
//     left:0;
//   }
// }
.homeInfo{
  flex-direction:column;
  padding: spacing(20, 0);
}
.episodes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: spacing(20, 0);
}
