//fonts
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
$rockSalt: "Rock Salt", cursive;

// colors
$white:#fff;
$black:#333;
$amber: #f2ce3f;

//TESTING
$indigo: #536dc8;
$danube: #6191d1;
$white: #fff;
$bermuda: #77D7B9;
