@import "reset";
@import "_mixins";
@import "_variables";

body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff;
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #161f2c;
  --color-bg-toggle: #a9a9a9;
}
body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: $rubik;
  transition: background 0.25s ease-in-out;
}
::-webkit-scrollbar {
  width: 5px;
}
.navOpen {
  overflow: hidden;
}
.layout {
  background-color: var(--color-bg-primary);
}
.page-content {
  display: flex;
  justify-content: center;
  margin-top: spacing(16);

  @include bp(medium) {
    margin-top: spacing(0);
  }
}
.inner {
  display: flex;
  @include constrain();
  padding: spacing(0, 3);
}
h4{
  color: #061020;
}
h3{
 color:$white;
}
h4,
h3 {
  font-family: $rubik;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 42px;
  text-transform: none;
  text-align:center;
}
.h4 {
  margin: spacing(8, 0, 6, 0);
  @include bp(medium) {
    display: none;
  }
}
