@import "reset";
@import "_mixins";
@import "_variables";

.page-content {
  display: flex;
  justify-content: center;
}
.inner {
  display: flex;
  @include constrain();
  padding: spacing(0, 3);
}

// svg#wave {
//   position: absolute;
//   fill: #041205;
//   bottom: -17px;
//   left: 0;
//   transform: rotateZ(1deg);
// }
footer {
  display: flex;
  justify-content: center;
}
