@import "reset";
@import "_mixins";
@import "_variables";

:root {
  --color-white: #fff;
  --color-purple: #340D6A;
  --color-yellow: #f2ce3f;
  --color-black: #061020;
}

body,
body[data-theme="light"] {
  --color-text-primary: #061020;
  --color-text-secondary: #6d727c;
  --color-bg-primary: #fff;
  --color-bg-card:var(--color-bg-primary);
  --color-bg-scroll: var(--color-bg-primary);
  --color-bg-pill: var(--color-purple);
  --color-text-pill: var(--color-bg-primary);
  --color-fill-moon: var(--color-yellow);
  --color-fill-lines: var(--color-yellow);
  --color-bg-dropdown: var(--color-bg-card);
  --color-bg-dropdown-btn: var(--color-bg-primary);
  --color-border: #ddd;
} 

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #95acc5;
  --color-bg-primary: hsl(215 33% 13%);
  --color-bg-light:hsl(215 33% 18%);
  --color-bg-lighter: hsl(215 33% 24%);
  --color-bg-card: var(--color-bg-light);
  --color-bg-scroll: var(--color-bg-lighter);
  --color-bg-pill: var(--color-white);
  --color-text-pill: var(--color-bg-primary);
  --color-fill-moon: var(--color-yellow);
  --color-fill-lines: var(--color-yellow);
  --color-bg-dropdown: var(--color-bg-lighter);
  --color-bg-dropdown-btn: var(--color-bg-lighter);
  --color-border:var(--color-bg-light);
}
body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: $rubik;
  transition: background 0.25s ease-in-out;
}
::-webkit-scrollbar {
  width: 5px;
}
.navOpen {
  overflow: hidden;
}
.layout {
  background-color: var(--color-bg-primary);
}
.page-content {
  display: flex;
  justify-content: center;
  margin-top: spacing(16);

  @include bp(medium) {
    margin-top: spacing(0);
  }
}
.inner {
  display: flex;
  @include constrain();
  padding: spacing(0, 3);
}
h4{
  color: var(--color-text-primary);
}
h3{
 color:$white;
}
h4,
h3:not(.footer-h3) {
  font-family: $rubik;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 42px;
  text-transform: none;
  text-align:center;
}
h3:not(.footer-h3){
  color: var(--color-text-primary);
}
.h4 {
  margin: spacing(8, 0, 6, 0);
  @include bp(medium) {
    display: none;
  }
}
