@import "../../styles/mixins";
@import "../../styles/variables";
.epsiodesSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: spacing(16);

  @include bp(medium) {
    margin-top: spacing(0);
    margin-bottom:spacing(16);
  }
}
.episodePage {
  display: flex;
  flex-direction: column;
  padding-top: spacing(3);
}
.episodeContainer {
  display:flex;
  flex-direction:column;gap: spacing(4)

}
.btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom:spacing(6);

  @include bp(medium){
    padding:spacing(10, 0);
  }
}
.item {
  p{
    word-break:break-all;
  }
}
